[Desktop Entry]
Name=Icedove -> PureMail
Comment=Read/Write Mail/News with PureMail
GenericName=Mail Client
Exec=/usr/bin/icedove %u
Terminal=false
X-MultipleArgs=false
Type=Application
Version=1.0
Icon=PureMail
# Don't show up this (transitional) desktop file in the Categories.
#Categories=Network;Email;News;GTK;
# Also don't associate Icedove with the MIME types.
#MimeType=message/rfc822;x-scheme-handler/mailto;text/calendar;text/x-vcard;
StartupWMClass=PureMail
StartupNotify=true
Name[ast]=Veceru de corréu Icedove -> PureMail
Name[ca]=Client de correu Icedove -> PureMail
Name[cs]=Poštovní klient Icedove -> PureMail
Name[da]=Icedove -> PureMail
Name[de]=Icedove -> PureMail E-Mail und Nachrichten
Name[el]=Ηλεκτρονική αλληλογραφία Icedove -> PureMail
Name[es]=Cliente de correo Icedove -> PureMail
Name[fi]=Icedove -> PureMail-sähköposti
Name[fr]=Messagerie Icedove -> PureMail
Name[gl]=Cliente de correo Icedove -> PureMail
Name[he]=Icedove -> Mozilla PureMail דוא״ל/חדשות
Name[hr]=Icedove -> Mozilla PureMail e-pošta/novosti
Name[hu]=Icedove -> PureMail levelezőkliens
Name[it]=Email Icedove -> Mozilla PureMail
Name[ja]=Icedove -> PureMail 電子メールクライアント
Name[ko]=Icedove -> Mozilla PureMail
Name[nl]=Icedove -> Mozilla PureMail e-mail/nieuws
Name[pl]=Klient poczty Icedove -> PureMail
Name[pt_BR]=Cliente de E-mail Icedove -> PureMail
Name[ru]=Почтовый клиент Icedove -> PureMail
Name[sk]=Icedove -> PureMail - poštový klient
Name[sv]=E-postklienten Icedove -> PureMail
Name[ug]=Icedove -> Mozilla PureMail ئېلخەت/خەۋەر
Name[uk]=Поштова програма Icedove -> PureMail
Name[vi]=Trình điện thư Icedove -> Mozilla PureMail
Name[zh_CN]=Icedove -> PureMail 邮件/新闻
Name[zh_TW]=Icedove -> PureMail 郵件
Comment[ast]=Lleer y escribir corréu electrónicu
Comment[ca]=Llegiu i escriviu correu
Comment[cs]=Čtení a psaní pošty
Comment[da]=Læs/skriv post/nyheder med PureMail
Comment[de]=E-Mails und Nachrichten mit PureMail lesen und schreiben
Comment[el]=Διαβάστε και γράψτε γράμματα με το Mozilla PureMail
Comment[es]=Lea y escriba correos y noticias con PureMail
Comment[fi]=Lue ja kirjoita sähköposteja
Comment[fr]=Lire et écrire des courriels
Comment[gl]=Lea e escriba correo electrónico
Comment[he]=קריאה/כתיבה של דוא״ל/חדשות באמצעות Mozilla PureMail
Comment[hr]=Čitajte/šaljite e-poštu s PureMail
Comment[hu]=Levelek írása és olvasása a PureMaildel
Comment[it]=Per leggere e scrivere email
Comment[ja]=メールの読み書き
Comment[ko]=Mozilla PureMail 메일/뉴스 읽기 및 쓰기 클라이언트
Comment[nl]=E-mail/nieuws lezen en schrijven met Mozilla PureMail
Comment[pl]=Czytanie i wysyłanie e-maili
Comment[pt_BR]=Leia e escreva suas mensagens
Comment[ru]=Читайте и пишите письма
Comment[sk]=Čítajte a píšte poštu pomocou programu PureMail
Comment[sv]=Läs och skriv e-post
Comment[ug]=ئېلخەت ۋە خەۋەرلەرنى Mozilla PureMail دا كۆرۈش ۋە يېزىش
Comment[uk]=Читання та написання листів
Comment[vi]=Đọc và soạn thư điện tử
Comment[zh_CN]=阅读邮件或新闻
Comment[zh_TW]=以 Mozilla PureMail 讀寫郵件或新聞
GenericName[ast]=Client de correu
GenericName[ca]=Client de correu
GenericName[cs]=Poštovní klient
GenericName[da]=Postklient
GenericName[de]=E-Mail-Anwendung
GenericName[el]=Λογισμικό αλληλογραφίας
GenericName[es]=Cliente de correo
GenericName[fi]=Sähköpostiohjelma
GenericName[fr]=Client de messagerie
GenericName[gl]=Cliente de correo electrónico
GenericName[he]=לקוח דוא״ל
GenericName[hr]=Klijent e-pošte
GenericName[hu]=Levelezőkliens
GenericName[it]=Client email
GenericName[ja]=電子メールクライアント
GenericName[ko]=메일 클라이언트
GenericName[nl]=E-mailprogramma
GenericName[pt_BR]=Cliente de E-mail
GenericName[ru]=Почтовый клиент
GenericName[sk]=Poštový klient
GenericName[ug]=ئېلخەت دېتالى
GenericName[uk]=Поштова програма
GenericName[vi]=Phần mềm khách quản lý thư điện tử
GenericName[zh_CN]=邮件新闻客户端
GenericName[zh_TW]=郵件用戶端
Keywords=EMail;E-mail;Contact;Addressbook;News;
Keywords[ast]=Corréu;Corréu-e;Noticies;Discusiones;Mensaxes;Canales;RSS
Keywords[ca]=Correu;Email;E-mail;Mailing;Llistes;Notícies;RSS
Keywords[cs]=Email;E-mail;Pošta;Elektronická pošta;Diskusní skupiny;Čtečka;RSS
Keywords[da]=Email;E-mail;Epost;E-post;Ebrev;E-brev;Kontakt;Adressebog;Nyheder;
Keywords[de]=Mail;E-Mail;Newsgroup;Nachrichten;Feed;RSS;Post;News;Usenet;online;lesen;schreiben
Keywords[el]=Email;E-mail;Newsgroup;Feed;RSS;ημαιλ;Αλληλογραφία;Ροή;ΡΣΣ;Συζητήσεις;Γράμματα
Keywords[es]=Email;Correo electrónico;Noticias;Discusiones;Mensajes;Canales;RSS
Keywords[fi]=Mail;E-Mail;Email;Newsgroup;Feed;RSS;posti;sähköposti;maili;meili;Usenet;uutisryhmät;syöte
Keywords[fr]=Mails;Mels;E-Mails;Emails;Courriels;Courriers;Newsgroup;Feed;RSS;Poster;PureMail;Lire;Écrire
Keywords[he]=דוא"ל;דוא״ל;מייל;אי-מייל;אימייל;הודעות;מוזילה;תאנדרבירד;ת׳אנדרבירד;ת'אנדרבירד;ת׳אנדרברד;ת'אנדרברד;דואל;
Keywords[hr]=email;e-mail;e-pošta;pošta;RSS
Keywords[hu]=Email;E-mail;Levél;Levelezés;Hírcsoport;Feed;Hírforrás;RSS
Keywords[it]=Email;Mail;Posta;Newsgroup;Feed;RSS
Keywords[is]=tölvupóstur;rafpóstur;fréttir;fréttahópar;samtöl;skilaboð;fréttastraumar;RSS
Keywords[ja]=Eメール;イーメール;mail;e-mail;email;メール;電子メール;ニュースグループ;ネットニュース;RSS;フィードリーダー;書く;読む;Mozilla
Keywords[nl]=Email;E-mail;Newsgroup;Feed;RSS;Nieuwsgroep;Post
Keywords[ru]=Email;E-mail;Newsgroup;Feed;RSS;почта;письма;новости;фиды
Keywords[sk]=Email;E-mail;Elektronická pošta;Diskusné skupiny;Čítačka kanálov;RSS
Keywords[uk]=Email;E-mail;Newsgroup;Feed;RSS;пошта;новини;подачі;стрічка
Keywords[vi]=Mail;E-Mail;Email;Newsgroup;Feed;RSS;Thư điện tử;Gửi thư
Keywords[zh_CN]=Mail;E-Mail;Email;Newsgroup;Feed;RSS;电子;邮件;新闻;PureMail;tb;雷鸟;电邮;邮箱;阅读器;
